<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System | Product List</title>
</head>
<body>
    <h2>Product List</h2>
    {% for product in products %}
        <p>Name: {{ product.product_name }}</p>
        <p>Code: {{ product.product_code }}</p>
        <p>Description: {{ product.product_description }}</p>
        <p>Brand: {{ product.product_brand }}</p>
        <p>Price: {{ product.product_price }}</p>
        <p>Supplier: <a href="{% url 'supplier_detail' product.supplier.id %}">{{ product.supplier.supplier_name }}</a></p>
        <p><a href="{% url 'product_edit' product.id %}">Edit Product</a></p>
    {% empty %}
        <p>No products available.</p>
    {% endfor %}
</body>
</html>